# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/**/node_modules
/**/.yarn
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea/sonarlint/issuestore/1/a/1a776fa7031906da50130af4fe35cf2210780fcd
/.idea/sonarlint/issuestore/3/c/3cf49e9c1307303f166fca4bc5f7dd102d07ff9a
/.idea/sonarlint/issuestore/4/f/4fccaf5d81325c7d414a4c0febc0fac9a5cad571
/.idea/sonarlint/issuestore/0/4/04c7916994cc9fcac13b0a1b6bd4b7b6413cb1ff
/.idea/sonarlint/issuestore/5/c/5c4f243a6f3368b8e65ba2f1303b7063759ceb61
/.idea/sonarlint/issuestore/6/c/6c90da98478d30537499a991ca8714f32432aa08
/.idea/sonarlint/issuestore/7/b/7b443d187a2943d6cffc53be2f66166b0c32bea9
/.idea/sonarlint/issuestore/7/c/7c79b95b12e7ecb29fd33b46ddbd87ca131c871f
/.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
/.idea/sonarlint/issuestore/9/f/9fe84ebb15faf917b7def6236dba604453cc61e0
/.idea/sonarlint/issuestore/1/3/136f789ce239fe77f2cb03d83fa6149b5f7205c0
/.idea/sonarlint/issuestore/1/6/169ba42bb6b1bbe49c1d1f643c65017e83a186c3
/.idea/sonarlint/issuestore/1/6/169fec2727f8d0247de9322415abe4bf94e3e56c
/.idea/sonarlint/issuestore/4/3/437e971377a0ee5d27953f4ea1b454792df20372
/.idea/sonarlint/issuestore/6/7/677ba3542aba882b86133e797c76f437911cca19
/.idea/sonarlint/issuestore/9/6/9685e34aa509b3879ed1f6bc23e0cb525a99722c
/.idea/sonarlint/issuestore/5/3/53585a096fe3a3b96321113856ae62602995a33b
/.idea/sonarlint/issuestore/8/3/83215f78271e1a1a4a89576c4536bc45e5400248
/.idea/sonarlint/issuestore/0/1/01235453049d660a0b1d2a7b34566f5f213690df
/.idea/sonarlint/issuestore/a/9/a9697a2450fa2adc8c85d4d2ee18312f789e08f2
/core/coverage/lcov-report/base.css
/core/__acceptance_tests__/commons/BeforeHook.js
/core/__acceptance_tests__/commons/BeforeHook.js.map
/core/coverage/lcov-report/__acceptance_tests__/commons/BeforeHook.ts.html
/core/coverage/lcov-report/block-navigation.js
/.idea/sonarlint/issuestore/c/3/c30b2053f9cabe2b2bbbcda11fd35b4e029b38ce
/.idea/sonarlint/issuestore/c/2/c247e1d9a4e0cb6cc7e95042102597e07f47462a
/.idea/sonarlint/issuestore/c/f/cf82b23045826d68da68d7c48edf3c74c5df8c2a
/core/coverage/clover.xml
/core/coverage/coverage-final.json
/core/src/application/states/features/todo/useCases/createTodo.js
/core/src/application/states/features/todo/useCases/createTodo.js.map
/core/__tests__/useCases/createTodo.test.js
/core/__tests__/useCases/createTodo.test.js.map
/core/coverage/lcov-report/src/application/states/features/todo/useCases/createTodo.ts.html
/core/__acceptance_tests__/features/step_definitions/CreateTodoDefinitions.steps.js
/core/__acceptance_tests__/features/step_definitions/CreateTodoDefinitions.steps.js.map
/.idea/sonarlint/issuestore/d/8/d8be6e586ce48953e60ad445831c6115f717b813
/core/src/application/states/features/todo/useCases/deleteTodo.js
/core/src/application/states/features/todo/useCases/deleteTodo.js.map
/core/__tests__/useCases/deleteTodo.test.js
/core/__tests__/useCases/deleteTodo.test.js.map
/core/coverage/lcov-report/src/application/states/features/todo/useCases/deleteTodo.ts.html
/core/__acceptance_tests__/features/step_definitions/DeleteTodoDefinition.steps.js
/core/__acceptance_tests__/features/step_definitions/DeleteTodoDefinition.steps.js.map
/core/src/domain/DIContainerType.js
/core/src/domain/DIContainerType.js.map
/core/coverage/lcov-report/src/domain/DIContainerType.ts.html
/core/__acceptance_tests__/features/step_definitions/ErrorDefinitions.steps.js
/core/__acceptance_tests__/features/step_definitions/ErrorDefinitions.steps.js.map
/core/__acceptance_tests__/commons/ErrorDriver.js
/core/__acceptance_tests__/commons/ErrorDriver.js.map
/core/__acceptance_tests__/commons/ErrorDriverImpl.js
/core/__acceptance_tests__/commons/ErrorDriverImpl.js.map
/core/coverage/lcov-report/__acceptance_tests__/commons/ErrorDriverImpl.ts.html
/.idea/sonarlint/issuestore/f/2/f298335f1fc59c83945417d6e1eb1ccb2319bc72
/core/coverage/lcov-report/favicon.png
/.idea/sonarlint/issuestore/f/d/fda1586bce30c62b265c4801211ce73e7393da2c
/.idea/sonarlint/issuestore/f/e/feec3f00a6cc82ca66eb14ee646c2c45c5222404
/.idea/sonarlint/issuestore/f/f/ff52e2c4667cbca51583c6e69f888e3a2dd022fc
/.idea/sonarlint/issuestore/f/f/ffa32f6235ef112f0a9809a778d9f92d5038767a
/core/src/application/states/app/hooks.d.ts
/core/src/application/states/app/hooks.js
/core/src/application/states/app/hooks.js.map
/core/coverage/lcov-report/__acceptance_tests__/commons/index.html
/core/coverage/lcov-report/src/application/states/app/index.html
/core/coverage/lcov-report/src/application/states/features/config/index.html
/core/coverage/lcov-report/src/application/states/features/todo/useCases/index.html
/core/coverage/lcov-report/src/application/states/features/todo/index.html
/core/coverage/lcov-report/src/config/index.html
/core/coverage/lcov-report/src/domain/core/index.html
/core/coverage/lcov-report/src/domain/todoAggregate/index.html
/core/coverage/lcov-report/src/domain/index.html
/core/coverage/lcov-report/src/infrastructure/repositories/index.html
/core/coverage/lcov-report/index.html
/core/src/domain/todoAggregate/Index.js
/core/src/domain/todoAggregate/Index.js.map
/core/src/infrastructure/repositories/InMemoryTodoRepository.js
/core/src/infrastructure/repositories/InMemoryTodoRepository.js.map
/core/coverage/lcov-report/src/infrastructure/repositories/InMemoryTodoRepository.ts.html
/core/coverage/lcov.info
/core/src/application/states/features/todo/useCases/loadTodos.d.ts
/core/src/application/states/features/todo/useCases/loadTodos.js
/core/src/application/states/features/todo/useCases/loadTodos.js.map
/core/__tests__/useCases/loadTodos.test.d.ts
/core/__tests__/useCases/loadTodos.test.js
/core/__tests__/useCases/loadTodos.test.js.map
/core/coverage/lcov-report/src/application/states/features/todo/useCases/loadTodos.ts.html
/core/__acceptance_tests__/features/step_definitions/loadTodosDefinitions.steps.d.ts
/core/__acceptance_tests__/features/step_definitions/loadTodosDefinitions.steps.js
/core/__acceptance_tests__/features/step_definitions/loadTodosDefinitions.steps.js.map
/.idea/modules.xml
/.idea/poc_hexa_poo.iml
/core/coverage/lcov-report/prettify.css
/core/coverage/lcov-report/prettify.js
/core/src/config/ProdDIContainer.js
/core/src/config/ProdDIContainer.js.map
/core/coverage/lcov-report/src/config/ProdDIContainer.ts.html
/.idea/inspectionProfiles/Project_Default.xml
/core/coverage/lcov-report/sort-arrow-sprite.png
/core/coverage/lcov-report/sorter.js
/core/src/domain/core/Specification.js
/core/src/domain/core/Specification.js.map
/core/coverage/lcov-report/src/domain/core/Specification.ts.html
/core/src/application/states/app/store.d.ts
/core/src/application/states/app/store.js
/core/src/application/states/app/store.js.map
/core/coverage/lcov-report/src/application/states/app/store.ts.html
/core/src/config/TestDIContainer.js
/core/src/config/TestDIContainer.js.map
/core/coverage/lcov-report/src/config/TestDIContainer.ts.html
/core/src/application/states/features/config/ThunkServiceProvider.js
/core/src/application/states/features/config/ThunkServiceProvider.js.map
/core/coverage/lcov-report/src/application/states/features/config/ThunkServiceProvider.ts.html
/core/src/domain/todoAggregate/Todo.js
/core/src/domain/todoAggregate/Todo.js.map
/core/coverage/lcov-report/src/domain/todoAggregate/Todo.ts.html
/core/__acceptance_tests__/features/step_definitions/TodoBackground.steps.d.ts
/core/__acceptance_tests__/features/step_definitions/TodoBackground.steps.js
/core/__acceptance_tests__/features/step_definitions/TodoBackground.steps.js.map
/core/__acceptance_tests__/features/step_definitions/todoConstants.steps.js
/core/__acceptance_tests__/features/step_definitions/todoConstants.steps.js.map
/core/src/application/states/features/todo/models/TodoDto.js
/core/src/application/states/features/todo/models/TodoDto.js.map
/core/src/domain/todoAggregate/ports/TodoRepository.js
/core/src/domain/todoAggregate/ports/TodoRepository.js.map
/core/src/application/states/features/todo/todosSlice.d.ts
/core/src/application/states/features/todo/todosSlice.js
/core/src/application/states/features/todo/todosSlice.js.map
/core/coverage/lcov-report/src/application/states/features/todo/todosSlice.ts.html
/core/src/domain/todoAggregate/TodoState.js
/core/src/domain/todoAggregate/TodoState.js.map
/core/coverage/lcov-report/src/domain/todoAggregate/TodoState.ts.html
/core/src/application/states/features/todo/useCases/updateStateTodo.js
/core/src/application/states/features/todo/useCases/updateStateTodo.js.map
/core/coverage/lcov-report/src/application/states/features/todo/useCases/updateStateTodo.ts.html
/core/src/application/states/features/todo/useCases/updateTodo.js
/core/src/application/states/features/todo/useCases/updateTodo.js.map
/core/__tests__/useCases/updateTodo.test.js
/core/__tests__/useCases/updateTodo.test.js.map
/core/coverage/lcov-report/src/application/states/features/todo/useCases/updateTodo.ts.html
/core/__acceptance_tests__/features/step_definitions/UpdateTodoDefinitions.steps.js
/core/__acceptance_tests__/features/step_definitions/UpdateTodoDefinitions.steps.js.map
/core/__tests__/useCases/updateTodoState.test.js
/core/__tests__/useCases/updateTodoState.test.js.map
/core/__acceptance_tests__/features/step_definitions/UpdateTodoStateDefinitions.steps.js
/core/__acceptance_tests__/features/step_definitions/UpdateTodoStateDefinitions.steps.js.map
/core/src/domain/todoAggregate/ValidTodoSpecification.js
/core/src/domain/todoAggregate/ValidTodoSpecification.js.map
/core/coverage/lcov-report/src/domain/todoAggregate/ValidTodoSpecification.ts.html
/.idea/vcs.xml
/.idea/workspace.xml
/core/src/domain/todoAggregate/Index.d.ts
/core/src/domain/todoAggregate/Todo.d.ts
/core/src/application/states/features/todo/models/TodoDto.d.ts
/core/src/domain/todoAggregate/TodoStatus.d.ts
/core/src/domain/todoAggregate/TodoStatus.js
/core/src/domain/todoAggregate/TodoStatus.js.map
/core/src/application/states/features/todo/useCases/updateStateTodo.d.ts
